* { box-sizing: border-box; }

.header {
  font-size: 300%;
  background-color: #fc4a1a;
  height: 2rem;
  padding: 3rem 0rem 11rem 2rem;
  font-family: 'Rock Salt', cursive;
}

.main-nav {
  display: flex;
  background: #f7b733;
  color: white;
}

.main-nav > ul {
  padding: 0rem;
  margin: 1rem;
  display: flex;
}

.main-nav li {
  list-style-type: none;
  margin-right: 2rem;
  margin-left: 1rem;
  font-size: 24px;
}

a {
  text-decoration: none;
}

a:visited {
  color:purple;
}

h1 {
  font-size: 32px;
  padding-left: 2rem;
  font-family: 'Kalam', cursive;
}

h2 {
  padding-left: 2rem;
  font-size: 26px;
}

h3 {
  font-size: 24px;
  padding-left: 2rem;
  font-family: 'Kalam', cursive;
}

p {
  padding-left: 2rem;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}

.unordered {
  padding-left: 4rem;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}

.main-cards {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    margin-left: 1rem;
  }

.card {
    flex: 10 10 10px;
    margin: 10px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
}

.card img {
  max-width: 100%

}

.card .text {
  padding: 20px 20px;
}

.card .text > button {
  background: #4abdac;
  border: 0px;
  color: white;
  padding: 1rem 1rem;
  width: 100%;
}

.second-cards {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  margin-left: 1rem;
}

.aside-main {
  background: #4abdac;
  padding: 2rem 3rem;
  margin-left: 5rem;
  margin-right: 8rem;
}


.aside-two {
  background: #4abdac;
  padding: 2rem 3rem;
  margin-left: 5rem;
  margin-right: 8rem;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  box-sizing: border-box;
  display: block;
  margin: 1rem;
}

.form {
  padding-left: 1rem;
  background-color: #4abdac;
  float: right;
}

fieldset {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}


label {
  padding-left: 1rem;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}

.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-top: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkmark  {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

.checkbox input:checked ~ .checkmark {
  background-color: blue;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkmark:after {
  display: block;
}

.checkbox .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


.footer-main {
  font-size: 16px;
  background-color: #dfdce3;
  padding: 5rem;
  margin-top: 2rem;
  clear: right;
}

.footer-main > ul {
  list-style-type: none;
  padding: 1rem;
  margin: 1rem;
  display: flex;
  flex-flow: wrap row;
  justify-content: space-around;
}

footer ul li:nth-child(odd) {font-size: 25px;}
